nav.sidebar
    .logo
    a(href='/') Alt Shogi
    .sidebar-wrapper
        ul.nav
            li.nav-item
            a.nav-link(href='/lobby')
                i.material-icons dashboard
                p ロビー
            li.nav-item
            a.nav-link(href='/learn')
                i.material-icons person
                p 学ぶ
            li.nav-item
            a.nav-link(href='/')
                i.material-icons content_paste
                p Table List