doctype html
html(lang='ja')
  include _head.pug
  body
    include _sidebar.pug
    main.one-column
      .game
        #app
        .control
          .about-player
            img(width='40', height='40', src='./public/demo/user.jpg', alt='プレイヤー2')
            .user-tagline
              span プレイヤー2
              span.rating 1500
          .clock
            #rclock-top.time(title='white clock')
              | 00
              sep :
              | 00
              tenths
                sep .
                | 0
                huns 0
          .record
            #text-test.record-body
          .clock
            #rclock-bottom.time(title='white clock')
              | 00
              sep :
              | 00
              tenths
                sep .
                | 0
                huns 0
          .about-player
            img(width='40', height='40', src='./public/demo/user.jpg', alt='プレイヤー1')
            .user-tagline
              span プレイヤー1
              span.rating 1500
        style.
          .rating{
            font-weight:bold;
            margin-left:10px;
          }
          .time{
            background-color:#f0ffe9;
            font-size:3.5rem;
            letter-spacing: 0.05em;
            padding: 0 0.3em;
          }
    script.
      var gameData=!{game};
      var initialFen = "!{initialFen}";
    script(src='./dist/main.js')
