html {
    font-size: 12px;
}

@media (min-width: 1200px){
    html {
        font-size: 14px;
    }
}

body {
    font-family: "Roboto", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
    margin:0;
    max-width: 100%;
    background-color: #eee;
}
@media screen and (max-width: 768px) {
    body {
        margin: 3vw;
    }
}
ol, ul {
    padding-left: 0px;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
main{
    width:70vw;
    margin:0 auto;
}
main.two-column{
    display: grid;
    grid-template-columns: 2fr 0.6fr;
}
a{
    text-decoration: none;
    background-color: transparent;
}
.game{
    margin-left: 1vw;
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 185px;
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .sidebar .logo {
      padding: 15px 0px;
      margin: 0;
      display: block;
      position: relative;
  }
  .logo .simple-text {
      text-transform: uppercase;
      padding: 5px 0px;
      display: inline-block;
      font-size: 18px;
      color: #3C4858;
      white-space: nowrap;
      font-weight: 400;
      line-height: 30px;
      overflow: hidden;
      text-align: center;
      display: block;
  }
  .sidebar .sidebar-wrapper {
      position: relative;
      height: calc(100vh - 75px);
      overflow: auto;
      width: 200px;
      z-index: 4;
      padding-bottom: 30px;
      -ms-touch-action: auto;
      touch-action: auto;
      overflow: hidden !important;
      -ms-overflow-style: none;
  }
  .sidebar .nav {
      margin-top: 20px;
      display: block;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  .sidebar .nav-link  {
      color: #3C4858;
      text-transform: capitalize;
      font-size: 13px;
      display: block;
      padding: 0.5rem 1rem;
  }
  .sidebar .nav i {
      font-size: 24px;
      float: left;
      margin-right: 15px;
      line-height: 30px;
      width: 30px;
      text-align: center;
      color: #a9afbb;
  }
  .sidebar .nav p {
      margin: 0;
      line-height: 30px;
      font-size: 14px;
      position: relative;
      display: block;
      height: auto;
      white-space: nowrap;
  }
  table, tbody, tfoot, thead, tr, th, td{
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: middle;
      text-align: inherit;
  }
  .game-list{
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
  }
  .game-list th{
      padding: 1em;
  }
  .game-list td:first-child {
      width: 16px;
  }
  .game-list td {
      padding: .5em .7em;
      border-bottom: 1px solid #404040;
      cursor: pointer;
      background: rgba(38,36,33,0.5);
  }
  .game-list td, .tour-spotlight {
      white-space: nowrap;
      overflow: hidden;
  }
  
.control{
    margin-left:20px;
}
.record {
    margin:20px 0;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
    font-size: .875rem;
}
.record .record-body {
    padding: 0.9375rem 20px;
    min-height: 370px;
    overflow-y: scroll;
    position: relative;
}

/* ===================================================
/* lobby
/* ==================================================*/
.game-board{
    height: 400px;
}

/* ===================================================
/* control panel
/* ==================================================*/

.about-player {
    margin: 0;
    color: #666463;
    padding: 15px;
    border-radius: 0 0 3px 3px;
    vertical-align: top;
    background-color: #f1f1f1;
}

/* ===================================================
/* lobby-chat
/* ==================================================*/
.chat {
    margin:20px 0;
    padding: 0.8rem;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    font-size: .875rem;
}
.chat .chat-body {
    min-height: 370px;
    overflow-y: scroll;
    position: relative;
}
.chat .chat-body p{
    margin:0.5rem 0;
}
.chat form input[name='message-body']{
    width: 95%;
    line-height: 20px;
}
.chat form button{
    width:5%;
}
/* ===================================================
/* board
/* ==================================================*/

.cg-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    --board-size: 8.33%;
}
cg-helper {
    width: 100%;
    height: 100%;
    display: table;
    bottom: 0;
}

cg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}
cg-board{
    cursor: pointer;
    position: absolute;
    display: block;
    background-size:cover;
}
square.last-move {
    will-change: transform;
    background-color: rgba(155,199,0,0.41);
}
square {
    position: absolute;
    width: var(--board-size);
    height: var(--board-size);
    pointer-events: none;
}
square.selected {
    background-color: rgba(20,85,30,0.5);
}
square.move-dest{
    background:radial-gradient(rgba(20,85,30,0.5) 19%, rgba(0,0,0,0) 20%);
    pointer-events:auto
}
square.premove-dest{
    background:radial-gradient(rgba(20,30,85,0.5) 19%, rgba(0,0,0,0) 20%);
    pointer-events:auto
}
square.oc.move-dest{
    background:radial-gradient(transparent 0%, transparent 80%, rgba(20,85,0,0.3) 80%)
}
square.oc.mc.move-dest{
    background:radial-gradient(rgba(20,85,30,0.5) 19%, rgba(0,0,0,0) 20%);
    pointer-events:auto;
    z-index:10;
}
square.oc.premove-dest{
    background:radial-gradient(transparent 0%, transparent 80%, rgba(20,30,85,0.2) 80%)
}
piece {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--board-size);
    height: var(--board-size);
    background-size: cover;
    z-index: 2;
    pointer-events: none;
}
piece.dragging{
    cursor:move;
    z-index:22;
}
piece.anim{
    z-index:3
}
piece.fading{
    z-index:1;opacity:0.5
}
piece.ghost{
    opacity:0.3
}
coords coord {
    flex: 1 1 auto;
    transform: translateY(42%);
    color:#333;
}
coords.ranks {
    flex-flow: column-reverse;
    right: -23px;
    top: 3px;
    height:100%;
    width: 12px;
}
coords.files {
    flex-flow: row;
    top: -16px;
    left: 12px;
    width:100%;
    text-align: center;
}
coords.ranks.black{
    flex-flow: column;
}
coords.files.black {
    flex-flow: row-reverse;
}
coords {
    position: absolute;
    display: flex;
}
.cg-wrap svg {
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    opacity: 0.6;
}

.piece_1.reverse {background-image:url(piece/chushogi/-1.png)}
.piece_2.reverse {background-image:url(piece/chushogi/-2.png)}
.piece_3.reverse {background-image:url(piece/chushogi/-3.png)}
.piece_4.reverse {background-image:url(piece/chushogi/-4.png)}
.piece_5.reverse {background-image:url(piece/chushogi/-5.png)}
.piece_6.reverse {background-image:url(piece/chushogi/-6.png)}
.piece_7.reverse {background-image:url(piece/chushogi/-7.png)}
.piece_8.reverse {background-image:url(piece/chushogi/-8.png)}
.piece_9.reverse {background-image:url(piece/chushogi/-9.png)}
.piece_10.reverse {background-image:url(piece/chushogi/-10.png)}
.piece_11.reverse {background-image:url(piece/chushogi/-11.png)}
.piece_12.reverse {background-image:url(piece/chushogi/-12.png)}
.piece_13.reverse {background-image:url(piece/chushogi/-13.png)}
.piece_14.reverse {background-image:url(piece/chushogi/-14.png)}
.piece_15.reverse {background-image:url(piece/chushogi/-15.png)}
.piece_16.reverse {background-image:url(piece/chushogi/-16.png)}
.piece_17.reverse {background-image:url(piece/chushogi/-17.png)}
.piece_18.reverse {background-image:url(piece/chushogi/-18.png)}
.piece_19.reverse {background-image:url(piece/chushogi/-19.png)}
.piece_20.reverse {background-image:url(piece/chushogi/-20.png)}
.piece_21.reverse {background-image:url(piece/chushogi/-21.png)}
.piece_22.reverse {background-image:url(piece/chushogi/-22.png)}

.piece_101.reverse {background-image:url(piece/chushogi/-101.png)}
.piece_102.reverse {background-image:url(piece/chushogi/-102.png)}
.piece_103.reverse {background-image:url(piece/chushogi/-103.png)}
.piece_104.reverse {background-image:url(piece/chushogi/-104.png)}
.piece_105.reverse {background-image:url(piece/chushogi/-105.png)}
.piece_106.reverse {background-image:url(piece/chushogi/-106.png)}
.piece_107.reverse {background-image:url(piece/chushogi/-107.png)}
.piece_108.reverse {background-image:url(piece/chushogi/-108.png)}
.piece_109.reverse {background-image:url(piece/chushogi/-109.png)}
.piece_110.reverse {background-image:url(piece/chushogi/-110.png)}
.piece_111.reverse {background-image:url(piece/chushogi/-111.png)}
.piece_112.reverse {background-image:url(piece/chushogi/-112.png)}
.piece_113.reverse {background-image:url(piece/chushogi/-113.png)}
.piece_114.reverse {background-image:url(piece/chushogi/-114.png)}
.piece_115.reverse {background-image:url(piece/chushogi/-115.png)}
.piece_116.reverse {background-image:url(piece/chushogi/-116.png)}
.piece_117.reverse {background-image:url(piece/chushogi/-117.png)}
.piece_118.reverse {background-image:url(piece/chushogi/-118.png)}
.piece_119.reverse {background-image:url(piece/chushogi/-119.png)}
.piece_120.reverse {background-image:url(piece/chushogi/-120.png)}
.piece_121.reverse {background-image:url(piece/chushogi/-121.png)}
.piece_122.reverse {background-image:url(piece/chushogi/-122.png)}

.piece_1.normal {background-image:url(piece/chushogi/1.png)}
.piece_2.normal {background-image:url(piece/chushogi/2.png)}
.piece_3.normal {background-image:url(piece/chushogi/3.png)}
.piece_4.normal {background-image:url(piece/chushogi/4.png)}
.piece_5.normal {background-image:url(piece/chushogi/5.png)}
.piece_6.normal {background-image:url(piece/chushogi/6.png)}
.piece_7.normal {background-image:url(piece/chushogi/7.png)}
.piece_8.normal {background-image:url(piece/chushogi/8.png)}
.piece_9.normal {background-image:url(piece/chushogi/9.png)}
.piece_10.normal {background-image:url(piece/chushogi/10.png)}
.piece_11.normal {background-image:url(piece/chushogi/11.png)}
.piece_12.normal {background-image:url(piece/chushogi/12.png)}
.piece_13.normal {background-image:url(piece/chushogi/13.png)}
.piece_14.normal {background-image:url(piece/chushogi/14.png)}
.piece_15.normal {background-image:url(piece/chushogi/15.png)}
.piece_16.normal {background-image:url(piece/chushogi/16.png)}
.piece_17.normal {background-image:url(piece/chushogi/17.png)}
.piece_18.normal {background-image:url(piece/chushogi/18.png)}
.piece_19.normal {background-image:url(piece/chushogi/19.png)}
.piece_20.normal {background-image:url(piece/chushogi/20.png)}
.piece_21.normal {background-image:url(piece/chushogi/21.png)}
.piece_22.normal {background-image:url(piece/chushogi/22.png)}

.piece_101.normal {background-image:url(piece/chushogi/101.png)}
.piece_102.normal {background-image:url(piece/chushogi/102.png)}
.piece_103.normal {background-image:url(piece/chushogi/103.png)}
.piece_104.normal {background-image:url(piece/chushogi/104.png)}
.piece_105.normal {background-image:url(piece/chushogi/105.png)}
.piece_106.normal {background-image:url(piece/chushogi/106.png)}
.piece_107.normal {background-image:url(piece/chushogi/107.png)}
.piece_108.normal {background-image:url(piece/chushogi/108.png)}
.piece_109.normal {background-image:url(piece/chushogi/109.png)}
.piece_110.normal {background-image:url(piece/chushogi/110.png)}
.piece_111.normal {background-image:url(piece/chushogi/111.png)}
.piece_112.normal {background-image:url(piece/chushogi/112.png)}
.piece_113.normal {background-image:url(piece/chushogi/113.png)}
.piece_114.normal {background-image:url(piece/chushogi/114.png)}
.piece_115.normal {background-image:url(piece/chushogi/115.png)}
.piece_116.normal {background-image:url(piece/chushogi/116.png)}
.piece_117.normal {background-image:url(piece/chushogi/117.png)}
.piece_118.normal {background-image:url(piece/chushogi/118.png)}
.piece_119.normal {background-image:url(piece/chushogi/119.png)}
.piece_120.normal {background-image:url(piece/chushogi/120.png)}
.piece_121.normal {background-image:url(piece/chushogi/121.png)}
.piece_122.normal {background-image:url(piece/chushogi/122.png)}

piece{
    background-position: left 0 top -1px;
}

/* ===================================================
/* config
/* ==================================================*/
cg-helper{
    background: url(shogi_board.png);
    width: 696px;
    height: 725px;
    background-size: contain;
}
cg-container,
cg-board{
    
    width: 678px;
    height: 707px;
}
cg-board{
    background: url(grid_12.png);
    background-size: contain;
    top:10px;
    left:10px;
}